<div class="container mt-4">

    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">DOCUMENTO</th>
                        <th scope="col">SALARIO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Tomas</td>
                        <td>Perez</td>
                        <td>123456</td>
                        <td>3500</td>
                        <td>
                            <i class="fas fa-edit fa-lg mr-2 text-info" title="Editar"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger" title="Eliminar"></i>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>